
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: none repeat scroll 0% 0% #dadada;
}

/* Header for openease/institute/university logo */
#navbar-tool{
  width:100%;
  height:52px;
  background: linear-gradient(to bottom,
    #549FC8 0%,
    #246F98 50%,
    #246F98 51%,
    #144F78 100%);
}
.navbar-tool-brand {
  float: left;
  padding: 15px 20px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}
a.navbar-tool-brand {
  font-family: 'Oswald', sans-serif;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 34px;
}
.navbar-tool-brand img{
  width: auto;
  height: 30px;
}
.navbar-tool-brand-2 {
  float: right;
  padding: 5px 20px;
}
.navbar-tool-brand-2 img{
  width: auto;
  height: 40px;
}

.content-frame {
    border-style: none;
    border-color: inherit;
    border-width: 0px;
    height:100%;
    width:100%;
}

/*****************************************/
/************** Menu Bar *****************/
/*****************************************/

.metanav {
  padding-bottom: 22px;
  border-bottom: 1px solid #a9a9b2;
  background-color: #eaeaea;
}

.menu,
.menu ul,
.menu li,
.menu a {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
}
.menu {
  height: 25px;
  z-index: 5000;
  white-space:nowrap;
}
.menu li {
  position: relative;
  float: left;
  display: block;
  z-index: 5000;
}
/* Submenu */
.menu ul {
  position: absolute;
  background: #ededed;
  border: 1px solid #a9a9b2;
  z-index: 5000;
  top: 18px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.menu li:hover > ul {
  opacity: 1;
  pointer-events: auto;
}
/* Menu items */
.menu li a {
  display: block;
  padding: 0px 14px;
  border-left: 1px solid #a9a9b2;
  border-right: 1px solid #bfc0c8;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #555555;
  -webkit-transition: color 0.5s ease-in-out;
  -moz-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  -ms-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  outline: 0;
}
.menu li a:focus{
    outline:0; /*removes the dotted border*/
}
.menu li:hover > a { color: #47C; }
.menu li:first-child a { border-left: none; padding-left: 0px; }
.menu li:last-child a { border-right: none; padding-right: 0px; }
.submenu li:first-child a { padding-left: 4px; }
.submenu li:last-child a { padding-right: 4px; }
.submenu li.zero_size:first-child a { padding-left: 0px; }
.submenu li.zero_size:last-child a { padding-right: 0px; }
#frame-menu-left { margin-left: 28px; }
#frame-menu-left a:hover { text-decoration: none; }
#frame-menu-left li:first-child a { padding-left: 4px; }
/* Submenus */
.menu ul li {
  pointer-events: none;
  z-index: 5000;
  text-align: left;
  float: none;
  margin: 3px 0;
  padding: 0 5px;
  
}
.menu li:hover > ul li { pointer-events: auto; }
/* Submenu items */
.menu ul li a {
  padding: 4px 4px 4px 4px;
  border: none;
}
/* Sub-Submenus */
.menu li ul li ul { left: 100%; }
.menu li ul li:hover > ul { top: -4px; }
.menu li ul li:hover { z-index: 5001; }
.menu li.submenu > a:after { content: ' ▾';}

.mega_menu {
  position: absolute;
  background: #fffef8;
  border: 1px solid #a9a9b2;
  overflow-x: hidden;
}
/* Slide menu from top */
li.zero_size > div {
  top: -64px;
  -webkit-transition: top 0.25s ease-out;
  -moz-transition: top 0.25s ease-out;
  -o-transition: top 0.25s ease-out;
  -ms-transition: top 0.25s ease-out;
  transition: top 0.25s ease-out;
}
li:hover ul li.zero_size > div { top: 0px; }
.mega_menu_column {
  margin: 10px 0;
  padding: 0 10px;
  float: left;
  margin-top: -10px;
}
.menu .mega_menu_column a { color: #4C7FD2; }
.menu .mega_menu_column a:hover { text-decoration: underline; }
.mega_menu_column h4 {
  font-family: 'Oswald', sans-serif;
  color: #346F98;
}
.mega_menu_column h3 {
  font-family: 'Oswald', sans-serif;
  width: 100%;
  border-bottom: 2px dotted #144F78;
  color: #144F78;
}
.category-episodes {
  max-height: 250px;
  overflow-y: auto;
}

/*****************************************/
/*****************************************/

/* Container holding the complete page (without menu and navbar) */
#container,
#page {
  height: -o-calc(100% - 94px); /* opera */
  height: -webkit-calc(100% - 94px); /* google, safari */
  height: -moz-calc(100% - 94px); /* firefox */
  width: 100%;
  position: absolute;
  left: 0px;
  top: 25px;
  padding: 0;
  margin: 0;
  background-color: #dadada;
  padding-left:15px;
  margin-top: 63px;
  margin-left: -8px;
  overflow: hidden;
}
.container-background,
.page-background {
  background-image: url(oe-logo.svg);
  background-position: right bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: -o-calc(100% - 10px); /* opera */
  height: -webkit-calc(100% - 10px); /* google, safari */
  height: -moz-calc(100% - 10px); /* firefox */
}
.container-centered,
.page-centered {
  width: 80%;
  margin: 0 auto;
}

/* Area at the top of the page */
.headline { margin-top: 10px !important; }
/* Area below headlines */
#page-content { width:100%; height:100%; }
#page-body { margin-top: 20px !important; }

.content-box {
  background-color: #f3f3ef;
  border: 1px solid #a9a9b2;
  box-shadow: 5px 5px 5px #888;
  padding:5px;
  font-size:15px;
  text-decoration:none;
  font-family: Tahoma, Geneva, sans-serif;
  padding: 12px;
}
.content-box a { color: #4C7FD2; }
.content-box a:hover { text-decoration: underline; }
.content-box-header {
  color: #144F78;
  font-family: Oswald,Arial,Helvetica,sans-serif;
  padding-bottom: 12px;
  padding-top: 0px;
  margin: 0 !important;
}
.content-box-header:hover .content-box-toggle {
  width: 40px;
  height: 40px;
  margin: 5px;
}
.content-box-header a {
  outline: 0 !important;
  text-decoration: none !important;
}
.content-box-header a:active { color: #4C7FD2; }
.content-box-toggle {
  margin: 10px;
  width: 30px;
  height: 30px;
  float: left;
  -webkit-transition: all 0.25s ;
  -moz-transition: all 0.25s ;
  -o-transition: all 0.25s ;
  -ms-transition: all 0.25s ;
  transition: all 0.25s ;
}

/* Some content boxes on different pages */
#user-data-box {
  width: 350px;
  word-wrap: break-word;
  float: left;
}
#user-data-box dt {
  float: left;
  clear: left; 
  width: 35%;
  padding: 4px;
  font-weight: bold;
  color: #144F78;
  text-align: right;
}
#user-data-box  dd {
  float: left;
  width: 65%;
  padding: 4px;
}
#video-box { float: right; }
#forgot-password-box { width:400px; float: left; }
#register-box { width:300px; float: left; }
#sign-up-button { color: #fff; }
a.btn {
  border: none !important;
  text-decoration: none !important;
}

/*****************************************/
/********* Knowledge base page ***********/
/*****************************************/

/*****************************************/
/************* Replay page ***************/
/*****************************************/

#replay-layout-west {
  background: none;
  overflow-y: auto;
}
.replay-box {
  margin-bottom: 8px;
  width: -o-calc(100% - 8px); /* opera */
  width: -webkit-calc(100% - 8px); /* google, safari */
  width: -moz-calc(100% - 8px); /* firefox */
  border: 1px solid #a9a9b2;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.replay-box-hidden {
  opacity: 0;
}
.replay-box #init_query {
  height: 100px;
  border: 1px solid #a9a9b2;
  font: 12px "Monaco","Menlo","Ubuntu Mono","Consolas","source-code-pro",monospace;
}
.replay-box #user_query {
  height: 100px;
  border: 1px solid #a9a9b2;
  font: 12px "Monaco","Menlo","Ubuntu Mono","Consolas","source-code-pro",monospace;
}
#replay-selection-box {
  padding-bottom: 0px;
}
#replay-configuration-box {
  padding-bottom: 0px;
}
#replay-panel-box {
  padding-bottom: 10px;
}
.replay-box input {
  border: none;
  background: none;
  width: 100%;
  padding: 4px;
}
#replay-start-value {
  position: relative;
  float: right;
  top: -46px;
}
#replay-end-value {
  position: relative;
  float: right;
  top: -46px;
}
#replay-progress-value {
  position: relative;
  float: right;
  top: -46px;
}

#replay-fps {
  background: #fff !important;
  border: 1px solid #a9a9b2 !important;
  text-align: center;
}

.replay-box form.form {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#replay-episode-list {
  width: 100%;
  top: 33px;
}
#replay-episode-value {
  text-align: center;
  padding: 8px 6px 8px 6px;
  font-weight: bold;
  background: #c9c9c9;
  border: 1px solid #a9a9b2;
}
#replay-episode-field  a {
  text-decoration: none !important;
  outline: none;
}

/*****************************************/
/************* Editor page ***************/
/*****************************************/

#editor{
  width:100%;
  height:100%;
  border-color:#c9c9c9;
  font-size:16px;
}

.pkg-menu {
  width: 100%;
  height: 35px;
}
.pkg-menu li {
  width: 100%;
}
.pkg-menu a {
  text-decoration: none;
}
#pkg-selection {
  width: 100%;
  top: 33px;
}
#pkg-value {
  text-align: center;
  padding: 6px;
  font-weight: bold;
  background: #c9c9c9;
  border-bottom: 3px solid #CCC;
}
/* Slide menu from top */
.pkg-menu ul {
  margin-top: -20px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.pkg-menu:hover ul {
  margin-top: 0px;
}

/*****************************************/
/*****************************************/

.ui-layout-center {
    border: 0px none;
}
.ui-layout-west {
    border: 0px none;
}
.ui-layout-east {
    border: 0px none;
}

.content-frame {
  display: block;
}
.selected-menu {
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px #abc;
}
.selected-frame {
}

#markers {
  width: 100%;
  height: 100%;
  border: 1px solid #BBB;
  overflow: hidden;
}

#console {
  padding: 0px;
}

#console_top {
  width: 100%;
  height: -o-calc(100% - 30px); /* opera */
  height: -webkit-calc(100% - 30px); /* google, safari */
  height: -moz-calc(100% - 30px); /* firefox */
}
#console_bottom {
  position: relative;
  width: 100%;
  height: 30px;
}

#library {
  padding: 0px;
  width: 100%;
  border: 0px none;
}
#library_top {
  width: 100%;
  height: -o-calc(100% - 30px); /* opera */
  height: -webkit-calc(100% - 30px); /* google, safari */
  height: -moz-calc(100% - 30px); /* firefox */
  overflow: auto;
}
#library_bottom {
  position: relative;
  width: 100%;
  height: 30px;
}
#library_content {
  width: 100%;
  overflow: auto;
}
#library_buttons {
  width:100%;
  height:100%;
  background-color:#dadada;
}

#library-editor-content {
  overflow: auto;
  margin-top: 40px;
  height: 93%;
}

.library_textarea {
  width:100%;
  height:500px;
  resize:none;
  border:medium none;
  background-color: #bbb;
  color: #333;
  border: 1px solid #013C65;
}

.library-editor-button {
  float: right;
  height: 30px;
  width: 30px;
  opacity: 0.2;
}
.library-editor-button:hover,
.library-editor-button:focus {
  opacity: 1.0;
  cursor: pointer;
}

.library-editor-header {
  float: left;
  height: 30px;
  font-size:20px;
  font-weight:bold;
}

.query_lib_header {
  width: 100%;
  text-align: left;
  border: 0px none;
  font-weight:bold;
  font-size:20px;
  padding-left: 4px;
  padding-right: 4px;
  color: #013C65;
}

.query_lib_space {
  height: 20px;
}

.query_lib_button {
  width: 100%;
  border: 0px none;
  padding: 4px;
  border: 0px none;
  font-family: 'Tahoma';
  font-size: 15px;
  text-align: left;
}
.query_lib_button:focus {
  background-color: #346F98;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 4px;
  padding-right: 4px;
  border-top: 1px solid #013C65;
  border-bottom: 1px solid #013C65;
}

#history {
  width:100%;
  height:50%;
  border-bottom: 1px solid #CCC;
  font-size:20px;
}

#query_buttons {
  width:100%;
  height:100%;
  background-color:#dadada;
}
.query_button_group {
  list-style-type:none;
  list-style-image:none;
  margin:0px;
  padding:0px;
  height:100%;
}
.query_button_group li {
  display: inline;
  float:left;
  display: inline-block;
  margin:0px;
  padding:0px;
  font-size:10px;
  font-weight:bold;
  text-decoration:none;
  text-align:center;
  color:#000;
  height:100%;
}
.query_button_group li:hover > a {
  color: #FFF;
  background-color:#adadad;
}
.query_button {
  display:block;
  background-color:#dadada;
  width:30px;
  padding:7px;
  height: 30px;
}

#user_query {
  width:100%;
  height:50%;
  border-bottom: 1px solid #CCC;
  font-size:20px;
}

#chart {
  width:100%;
  height:100%;
}

#designator {
  width:100%;
  height:100%;
  overflow-y: auto;
}

#mjpeg {
  width:100%;
  height:100%;
}

#mjpeg img {
  width:auto;
  height:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#file-list {
  margin-top: 10px;
  font-size: 16px;
}

.media {
  height: 60px;
  padding: 0;
  margin: 0;
}

.ui-layout-east {
}

#logo_container{
  text-align: center;
}

#msg_container{
  width: 200px;
  float: right;
  height: 100%;
  background: none repeat scroll 0% 0% #dadada;
  border-left: 1px solid #AAA;
  text-align: left;
  overflow: auto;
}

.image_view {
  background-color:black;
  width: 100%;
  height: 100%;
}

.image_view img {
  position: relative;
  left:0%;
  top:50%;
  transform:translate(0%,-50%);
  -webkit-transform:translate(0%,-50%);
  margin-left: auto;
  margin-right: auto;
}

.image_view video {
  position: relative;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
}

#mjpeg_image:-webkit-full-screen { transform:translate(0%,0%); -webkit-transform:translate(0%,0%); }
#mjpeg_image:-moz-full-screen { transform:translate(0%,0%); -webkit-transform:translate(0%,0%); }
#mjpeg_image:-ms-full-screen { transform:translate(0%,0%); -webkit-transform:translate(0%,0%); }
#mjpeg_image:-o-full-screen { transform:translate(0%,0%); -webkit-transform:translate(0%,0%); }
#mjpeg_image:full-screen { transform:translate(0%,0%); -webkit-transform:translate(0%,0%); }

#grid .k-grid-header {
   padding: 0 !important;
}
#grid .k-grid-content {
   overflow-y: visible;
}

.div-overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 1002;
  pointer-events: none;
}
.div-overlay div {
  position: relative;
  opacity: 1.0;
}

.tut_textarea {
    width:100%;
    height:500px;
    resize:none;
    border:medium none;
}

#tut_nav {
    position:relative;
    bottom:0;
    width:auto;
    height:25px;
    padding-bottom:10px;
}

.tut_cat_link,
.tut_cat_link:hover {
  font-family: 'Oswald', sans-serif;
  color: #000 !important;
  text-decoration: none;
  font-size: 18px !important;
  cursor: pointer;
}
.tut_cat_link:hover {
  color: #3333aa !important;
}

.k-button,
.k-button:hover{
  border: 1px solid #AAA !important;
  min-width: 80px !important;
  margin: 2px  !important;
}

li.zero_size,
.zero_size {
  padding: 0 !important;
  margin: 0 !important;
  width: 0 !important;
  height: 0 !important;
}

.hidden-form {
  display: none !important;
  opacity: 0 !important;
  pointer-events: none !important;
}

.clear {
   float: none;
   clear: both;
   height: 0;
}

.field-hint {
  margin-right: 15px;
  text-align: right;
}

.aligned-left { float: left; }
.aligned-right { float: right; }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99999; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    margin-top: 8px;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 90%;
}

#no-diff {
  font-size: 16px;
  text-align: center;
}

.icon_bookmark  { background: url("/static/icons/theme/bookmark-new.png") center / 24px no-repeat; }
.icon_close     { background: url("/static/icons/theme/window-close.png") center / 24px no-repeat; }
.icon_camera    { background: url("/static/icons/theme/camera-web.png") center / 24px no-repeat; }
.icon_cloud     { background: url("/static/icons/theme/cloud.png") center / 24px no-repeat; }
.icon_error     { background: url("/static/icons/theme/dialog-error.png") center / 24px no-repeat; }
.icon_question  { background: url("/static/icons/theme/dialog-question.png") center / 24px no-repeat; }
.icon_warning   { background: url("/static/icons/theme/dialog-warning") center / 24px no-repeat; }
.icon_open      { background: url("/static/icons/theme/document-open.png") center / 24px no-repeat; }
.icon_save      { background: url("/static/icons/theme/document-save.png") center / 24px no-repeat; }
.icon_send      { background: url("/static/icons/theme/document-send.png") center / 24px no-repeat; }
.icon_edit      { background: url("/static/icons/theme/edit.png") center / 24px no-repeat; }
.icon_clear     { background: url("/static/icons/theme/edit-clear.png") center / 24px no-repeat; }
.icon_copy      { background: url("/static/icons/theme/edit-copy.png") center / 24px no-repeat; }
.icon_cut       { background: url("/static/icons/theme/edit-cut.png") center / 24px no-repeat; }
.icon_delete    { background: url("/static/icons/theme/edit-delete.png") center / 24px no-repeat; }
.icon_find      { background: url("/static/icons/theme/edit-find.png") center / 24px no-repeat; }
.icon_paste     { background: url("/static/icons/theme/edit-paste.png") center / 24px no-repeat; }
.icon_redo      { background: url("/static/icons/theme/edit-redo.png") center / 24px no-repeat; }
.icon_select    { background: url("/static/icons/theme/edit-select-all.png") center / 24px no-repeat; }
.icon_undo      { background: url("/static/icons/theme/edit-undo.png") center / 24px no-repeat; }
.icon_docs      { background: url("/static/icons/theme/emblem-documents.png") center / 24px no-repeat; }
.icon_important { background: url("/static/icons/theme/emblem-important.png") center / 24px no-repeat; }
.icon_shared    { background: url("/static/icons/theme/emblem-shared.png") center / 24px no-repeat; }
.icon_folder    { background: url("/static/icons/theme/folder.png") center / 24px no-repeat; }
.icon_download  { background: url("/static/icons/theme/folder-download.png") center / 24px no-repeat; }
.icon_upload    { background: url("/static/icons/theme/folder-upload.png") center / 24px no-repeat; }
.icon_remote    { background: url("/static/icons/theme/folder-remote.png") center / 24px no-repeat; }
.icon_down      { background: url("/static/icons/theme/go-down.png") center / 24px no-repeat; }
.icon_next      { background: url("/static/icons/theme/go-next.png") center / 24px no-repeat; }
.icon_prev      { background: url("/static/icons/theme/go-previous.png") center / 24px no-repeat; }
.icon_up        { background: url("/static/icons/theme/go-up.png") center / 24px no-repeat; }
.icon_add       { background: url("/static/icons/theme/list-add.png") center / 24px no-repeat; }
.icon_remove    { background: url("/static/icons/theme/list-remove.png") center / 24px no-repeat; }
.icon_attachment{ background: url("/static/icons/theme/mail-attachment.png") center / 24px no-repeat; }
.icon_replied   { background: url("/static/icons/theme/mail-replied.png") center / 24px no-repeat; }
.icon_unread    { background: url("/static/icons/theme/mail-unread.png") center / 24px no-repeat; }
.icon_pause     { background: url("/static/icons/theme/media-playback-pause.png") center / 24px no-repeat; }
.icon_start     { background: url("/static/icons/theme/media-playback-start.png") center / 24px no-repeat; }
.icon_stop      { background: url("/static/icons/theme/media-playback-stop.png") center / 24px no-repeat; }
.icon_record    { background: url("/static/icons/theme/media-record.png") center / 24px no-repeat; }
.icon_server    { background: url("/static/icons/theme/network-server.png") center / 24px no-repeat; }
.icon_settings  { background: url("/static/icons/theme/preferences-system.png") center / 24px no-repeat; }
.icon_run       { background: url("/static/icons/theme/system-run.png") center / 24px no-repeat; }
.icon_home      { background: url("/static/icons/theme/user-home.png") center / 24px no-repeat; }
.icon_trash     { background: url("/static/icons/theme/user-trash.png") center / 24px no-repeat; }
.icon_fullscreen{ background: url("/static/icons/theme/view-fullscreen.png") center / 24px no-repeat; }
.icon_zoom_in   { background: url("/static/icons/theme/zoom-in.png") center / 24px no-repeat; }
.icon_zoom_orig { background: url("/static/icons/theme/zoom-original.png") center / 24px no-repeat; }
.icon_zoom_out  { background: url("/static/icons/theme/zoom-out.png") center / 24px no-repeat; }
.icon_diff      { background: url("/static/icons/theme/diff.png") center / 24px no-repeat; }

.icon_facebook  { background: url("/static/icons/facebook.png") center / 24px no-repeat; }
.icon_twitter   { background: url("/static/icons/twitter.png") center / 24px no-repeat; }
.icon_github    { background: url("/static/icons/github.png") center / 24px no-repeat; }
.icon_google    { background: url("/static/icons/google.png") center / 24px no-repeat; }

/** Kendo grid **/

.k-grid tbody tr {
    cursor: move;
}

.placeholder {
  outline-style: dashed;
  outline-width: 1px;
  outline-color: red;
}

/** diff **/

.diff-source {
    display: inline;
    background-color: #BFB;
}

.diff-target {
    display: inline;
    background-color: #ffbbbb;
}

/** remote apps **/

.remote-login-box {
  float: left;
  border: 1px solid #c8afaf;
  border-radius: 7px;
  margin-top: 10px;
}

.remote-login-header {
  float: left;
  font-size: 18px;
  color: #144F78;
  font-family: Oswald,Arial,Helvetica,sans-serif;
  padding: 4px;
  margin-top: 4px;
  margin-left: 6px;
}

.remote-login-button {
  float: left;
  border: none;
  height: 34px;
  width: 34px;
  margin: 4px;
  -webkit-transition: 0.2s -webkit-filter linear;
  -moz-transition: 0.2s -moz-filter linear;
  -moz-transition: 0.2s filter linear;
  -ms-transition: 0.2s -ms-filter linear;
  -o-transition: 0.2s -o-filter linear;
  transition: 0.2s filter linear;
}
.remote-login-button:hover {
  filter: sepia(90%) hue-rotate(90deg);
}

/** jquery dialogs **/

#dialog select {
  width: 100%;
  display: inline-block;
  border: 1px solid #c7c7c7;
  border-radius: 4px;
  height: 28px;
  line-height: 28px;
  margin-top: 10px;
  background: -moz-linear-gradient(top,  #fefefe 0%, #eeeeee 100%);
  background: -webkit-linear-gradient(top,  #fefefe 0%,#eeeeee 100%);
  background: -ms-linear-gradient(top,  #fefefe 0%,#eeeeee 100%);
  background: linear-gradient(to bottom,  #fefefe 0%,#eeeeee 100%);
}

.dialog-prompt {
  width: 100%;
  font-size:15px;
  font-family: Tahoma, Geneva, sans-serif;
}

.dialog-note {
  width: 100%;
  background: #f1f393;
  border: 1px solid #a9a9b2;
  margin-top: 10px;
  padding: 4px;
  border-radius: 4px;
}
.dialog-note::before {
  content: "NOTE: ";
  font-weight: bold;
} 
