
html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    background: none repeat scroll 0% 0% #dadada;
}

.login-box {
  width:300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.login-box0 {
  position:relative;
  left:0;
  width:226px;
  top:5px;
  border: 1px black solid;
  padding:5px 25px;
}
.login-box1 {
}
.register-box {
  position:relative;
  left:0;
  width:226px;
  top:5px;
  border: 1px black solid;
  padding:5px 25px;
}
#user-field {
}
#pw-field {
}
#sign-in-field {
}
#remember-me {
  float:left;
}
#sign-in {
  float:right;
}

#pkg-selection {
  width: 100%;
  top: 28px;
  border: 0px none;
  border-radius: 0;
  padding: 6px
}

#pkg-value {
  width: 100%;
  text-align: center;
  padding: 6px;
  font-weight: bold;
  background: #c9c9c9;
  border-bottom: 3px solid #CCC;
}

.ui-layout-center {
    border: 0px none;
}
.ui-layout-west {
    border: 0px none;
}
.ui-layout-east {
    border: 0px none;
}

#markers {
  width: 100%;
  height: 100%;
  border: 1px solid #BBB;
  overflow: hidden;
}

#console {
  padding: 0px;
}

#console_top {
  width: 100%;
  height: -o-calc(100% - 25px); /* opera */
  height: -webkit-calc(100% - 25px); /* google, safari */
  height: -moz-calc(100% - 25px); /* firefox */
}

#console_bottom {
  position: relative;
  width: 100%;
  height: 25px;
}

#library {
  padding: 0px;
  width: 100%;
  font-size:20px;
}

#examplequery {
  width: 100%;
  height: 100%;
  border: 0px none;
  overflow: auto;
}

#history {
  width:100%;
  height:50%;
  border-bottom: 1px solid #CCC;
  font-size:20px;
}

#user_query {
  width:100%;
  height:50%;
  border-bottom: 1px solid #CCC;
  font-size:20px;
}

#query_buttons {
  width:100%;
  height:100%;
  background-color:#dadada;
}

.query_button_group {
  list-style-type:none;
  list-style-image:none;
  margin:0px;
  padding:0px;
  height:100%;
}

.query_button_group li {
  display: inline;
  float:left;
  margin:0px;
  padding:0px;
  font-size:10px;
  font-weight:bold;
  text-decoration:none;
  text-align:center;
  color:#000;
  height:100%;
}
.query_button_group li:hover > a {
  color: #FFF;
  background-color:#adadad;
}

.query_button {
  display:block;
  background-color:#dadada;
  width:100px;
  height:100%;
  padding:7px;
}

#chart {
  width:100%;
  height:100%;
}

#designator {
  width:100%;
  height:100%;
  overflow-y: auto;
}

#mjpeg {
  width:100%;
  height:100%;
}

#mjpeg img {
  width:auto;
  height:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#editor-full-container{
    margin-left:-15px;
    margin-top:-18px;
}
#editor-full-size{
    width:100%;
    font-size:16px;
    border: 0 none;
}

#editor{
    width:100%;
    height:100%;
    border-color:#c9c9c9;
    font-size:16px;
}

#container {
    height: -o-calc(100% - 90px); /* opera */
    height: -webkit-calc(100% - 90px); /* google, safari */
    height: -moz-calc(100% - 90px); /* firefox */
    width: 100%;
    position: absolute;
    left: 0px;
    top: 25px;
    padding: 0;
    margin: 0;
    margin-left: -8px;
    background: none repeat scroll 0% 0% #dadada;
}

#file-list {
  margin-top: 10px;
  font-size: 16px;
}

.media {
  height: 60px;
  padding: 0;
  margin: 0;
}

.ui-layout-east {
}

#logo_container{
  text-align: center;
}

#msg_container{
  width: 200px;
  float: right;
  height: 100%;
  background: none repeat scroll 0% 0% #dadada;
  border-left: 1px solid #AAA;
  text-align: left;
  overflow: auto;
}

.menu,
.menu ul,
.menu li,
.menu a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
 
.menu {
    height: 25px;
    z-index: 5000;
}
 
.menu li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    z-index: 5000;
}

.menu ul {
    position: absolute;
    top: 20px;
    left: 0px;
 
    opacity: 0;
    background: #c9c9c9;
 
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    
    border-left: 2px solid #A9A982;
    border-right: 2px solid #A9A982;
    border-bottom: 2px solid #A9A982;
 
    -webkit-transition: opacity .25s ease .1s;
    -moz-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
    z-index: 5000;
}
 
.menu li:hover > ul { opacity: 1; }
 
.menu ul li {
    height: 0;
    overflow: hidden;
    padding: 0;
 
    -webkit-transition: height .25s ease .1s;
    -moz-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
}
 
.menu li:hover > ul li {
    height: auto;
    overflow: visible;
    padding: 0;
}

.menu li a {
    display: block;
    padding: 0px 14px;
    text-decoration: none;
 
    border-left: 1px solid #a9a9b2;
    border-right: 1px solid #bfc0c8;
 
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
 
    color: #555555;
 
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
 
.menu li:first-child a { border-left: none; }
.menu li:last-child a{ border-right: none; }
 
.menu li:hover > a {
  color: #038;
}

.menu ul li a {
    padding: 4px 14px 4px 14px;
    margin: 0;
    border: none;
}
 
.menu ul li:last-child a { border: none; }

#navbar-tool{
  width:100%;
  height:52px;
  background-color:#144F78;
}
.navbar-tool-brand {
  float: left;
  padding: 15px 20px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}
a.navbar-tool-brand {
  font-family: 'Oswald', sans-serif;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 34px;
}
.navbar-tool-brand img{
  width: auto;
  height: 30px;
}
.navbar-tool-brand-2 {
  float: right;
  padding: 5px 20px;
}
.navbar-tool-brand-2 img{
  width: auto;
  height: 40px;
}

#vid_table {
  width:100%;
}
#vid_table tr td {
  padding-right: 5px;
}
#vid_table tr td input {
  padding-right: 50px;
  width:100%;
  border: none;
  background-color:#fff;
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 4px 7px;
  
}
#vid_table tr th {
  font-size:13px;
  font-weight:normal;
  text-decoration:none;
}
#vid_table tr td div  {
  height:200px;
}
.vid_properties {
  background-color:#dadada;
}
.vid_button_group li {
  width:50%;
}
.vid_button {
  display:block;
  background-color:#dadada;
  height:100%;
  padding:7px;
}

#vid_properties {
  height: -o-calc(100% - 25px); /* opera */
  height: -webkit-calc(100% - 25px); /* google, safari */
  height: -moz-calc(100% - 25px); /* firefox */
}
#vid_bottom {
  height: 25px;
}
